<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to 'followings', followings_user_path(@user) %>
      <%= link_to 'followers', followers_user_path(@user) %>
      <%= link_to 'favorites', favorites_user_path(@user) %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Followings</h3>
    <section class="user_info">
    <% @users.each do |user| %>
      <h4>
        <%= gravatar_for user %>
        <%= user.name %>
      </h4>
        email:
        <%= user.email %><br>
        profile:
        <%= user.profile %><br>
        area:
        <%= user.area %><br>
    <% end %> 
    </section>
  </div>
</div>


