<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    
    <% if current_user == micropost.user %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>

    <% if current_user.favorite?(micropost) %> 
      <%= link_to "unfavorite", favorite_path(id: micropost.id), method: :delete,style: 'color:red' %>
    <% else %>
      <%= link_to "favorite", favorites_path(id: micropost.id), method: :post %>
    <% end %>
    <!-- link_to 第1引数,第2引数,第3引数  第1引数 = アンカーテキスト, 第2引数 = URL,若しくはurlヘルパ, 第3引数=オプション -->
    <!-- アンカータグ <a href="url">アンカーテキスト</a> -->
</li>